langchain
langchain-community
langchain-groq
langchain-qdrant
langchain_huggingface

qdrant-client

sentence-transformers

pypdf

python-dotenv

fastapi
uvicorn

numpy
pandas

tqdm

torch
transformers

sentence-transformers

qdrant-client

rank-bm25

ragas

datasets